body {
    margin: 0;
    overflow: hidden;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
}

@font-face {
    font-family: 'contentacle';
    src:url('/assets/fonts/icomoon.eot');
    src:url('/assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/icomoon.ttf') format('truetype'),
        url('/assets/fonts/icomoon.woff') format('woff'),
        url('/assets/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#nav-button,
#props-button,
.cthulhu,
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'contentacle';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cthulhu:before, #nav-button:before { content: "\e600"; }
.icon-branch:before { content: "\e601"; }
.icon-prop:before, #props-button:before { content: "\e603"; }
.icon-pages:before { content: "\e604"; }
.icon-page:before { content: "\e605"; }
.icon-folder:before { content: "\e606"; }
.icon-commits:before { content: "\e607"; }
.icon-stage:before { content: "\e608"; }
.icon-history:before { content: "\e609"; }
.icon-edit:before { content: "\e60a"; }
.icon-settings:before { content: "\e60b"; }
.icon-user:before { content: "\e60c"; }
.icon-signout:before { content: "\e60d"; }
.icon-plus:before { content: "\e60e"; }
.icon-minus:before { content: "\e60f"; }
.icon-cancel:before { content: "\e602"; }
.icon-okay:before { content: "\e610"; }

.cthulhu:before {
    padding-right: 10px;
}

body,
a {
    color: #111;
}

a:hover {
    color: #210;
}

input:focus,
textarea:focus {
    outline-color: #210;
}

#nav-button {
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: -1px;
    display: block;
    padding: 0 10px;
    height: 40px;
    background: #210;
    -webkit-transition: -webkit-transform 0.3s;
    font-size: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#nav-button:hover {
    color: #eee;
}

#nav-button:before {
    display: inline-block;
    padding-top: 10px;
}

.show-nav #nav-button {
    -webkit-transform: translateX(-200px);
}

nav {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #210;
    width: 200px;
    margin: 0;
    color: #fff;
}

nav > h1,
nav > h2 {
    display: block;
    font-size: 100%;
    margin: 20px;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    font-size: 80%;
}

nav li {
    margin: 10px 0;
}

nav li span {
    display: inline-block;
    width: 30px;
}

nav a {
    color: #eee;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
}

nav sup {
    font-size: 10px;
    font-family: sans-serif;
    background: #f00;
    color: #fff;
    padding: 0 3px 0 2px;
    border-radius: 6px;
    display: inline-block;
    min-width: 8px;
    text-align: center;
}

#nav-overlay {
    z-index: 700;
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    bottom: 0;
    right: 0;
}

.show-nav #nav-overlay {
    display: block;
}

section {
    z-index: 600;
    -webkit-transition: -webkit-transform 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff url(/assets/img/cthulhu-bg.png) no-repeat 50% 0;
    outline: none;
    overflow: auto;
}

section > header {
    background-color: #eee;
    overflow: hidden;
    min-height: 90px;
}

section > header > div {
    margin: 0 auto;
    width: 700px;
}

section > header h1 {
    font-size: 120%;
    margin: 10px 20px;
    text-align: center;
}

section > header .commit {
    font-size: 80%;
    margin: 10px 20px;
}

section > div {
    margin: 100px auto;
    width: 700px;
}

section h1,
section h2,
section h3,
section h4,
section ul,
section ol,
section p,
section blockquote,
section pre {
    margin: 1em 20px;
}

section h1,
section h2,
section h3,
section h4 {
    font-family: "PT Sans", sans-serif;
}

.show-nav section {
    -webkit-transform: translateX(200px);
}

table {
    border-collapse: collapse;
    margin: 20px 20px 0;
    width: 660px;
}

td {
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding: 4px 8px;
    font-size: 80%;
    color: #210;
}

label {
    display: block;
    margin: 1em 0 4px;
}

input,
textarea {
    display: block;
    margin: 4px 0 1em;
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px;
    background: #fff;
    color: #210;
}

textarea {
    height: 6em;
}

.button-bar {
    display: block;
    margin: 1em 20px;
    text-align: center;
}

button,
a.button {
    display: inline-block;
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #210;
    padding: 8px 16px;
    margin: 0 0 1px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    font-family: Arial;
}

button:hover,
a.button:hover {
    background-color: #eee;
}

button:before,
a.button:before {
    display: inline-block;
    padding-right: 4px;
}

button.cancel,
a.button.cancel {
    color: #900;
}

button.okay,
a.button.okay {
    background-color: #5ca941;
}

button.okay:hover,
a.button.okay:hover {
    background-color: #488632;
}

.commit-metadata {
    margin: 20px 20px 0;
    background-color: #210;
    padding: 6px 12px;
    color: #eee;
    font-size: 80%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.commit-metadata a {
    color: #eee;
}

footer {
    text-align: center;
    font-size: 60%;
    margin: 1em 0;
}

footer a {
    text-decoration: none;
}

footer span {
    color: #ccc;
    font-size: 200%;
    position: relative;
    top: 6px;
}

footer span:before {
    padding: 0 10px;
}