.path {
    font-size: 80%;
    margin: 20px;
}

.files table {
    margin: 0 20px;
}

.files td:nth-child(1) {
    width: 17px;
    padding-right: 0;
    text-align: center;
}

.files td:nth-child(3) a {
    color: #999;
}

.files td:nth-child(4) {
    text-align: right;
    color: #999;
}
