.prop td {
    border: none;
    border-top: 1px solid #ccc;
}

.prop td:nth-child(1) {
    width: 33%;
}

.prop td:nth-child(3) {
    width: 26px;
    padding-right: 0;
    cursor: pointer;
}

.prop td.fixed {
    padding: 8px 12px;
}

.prop input {
    border: none;
    background: none;
    width: 100%;
    font-size: 80%;
    cursor: text;
}