<div>
    {{>repo-header}}

    {{#if _embedded.cont:branch}}
        <table>
            <tr>
                <th colspan="2">Branch</th>
            </tr>
            {{#each _embedded.cont:branch}}
                <tr>
                    <td><a href="{{_links.self.href}}" rel="cont:branch">{{name}}</a></td>
                    <td>Updated {{> date}} by {{> author}}</td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <p>No branches found</p>
    {{/if}}
</div>