<h2 class="commit-metadata">{{message}}</h2>
<div class="commit-metadata">
    {{#if _links.author.href}}
        <a href="{{_links.author.href}}" rel="author" title="{{email}}">{{author}}</a>
    {{else}}
        <span title="{{email}}">{{author}}</span>
    {{/if}}
    wrote <a href="{{_links.self.href}}" rel="cont:commit">
        <time datetime="{{isodate date}}" title="{{date date}}">{{since date}}</time>
    </a>
    {{#if parents}}
        <span class="parents">
            {{count parents "parent"}}
            {{#if _links.cont:parent.href}}
                <a href="{{_links.cont:parent.href}}" rel="cont:parent">{{truncate _links.cont:parent.title 8}}</a>
            {{else}}
                {{#each _links.cont:parent}}
                    <a href="{{href}}" rel="cont:parent">{{truncate title 8}}</a>
                {{/each}}
            {{/if}}
        </span>
    {{/if}}
</div>