<div>
    <h1>
        <a href="{{_links.cont:user.href}}" rel="cont:user">{{username}}</a> /
        <a href="{{_links.cont:repo.href}}" rel="cont:repo">{{repo}}</a> /
        {{branch}}
    </h1>

    <div class="button-bar">
        {{>branch-select}}
    </div>

    {{#if _embedded.cont:commit}}
        {{#each _embedded.cont:commit}}
            {{#showDayEnd date}}
                </ol>
            {{/showDayEnd}}
            {{#showDay date}}
                <h2>Commits on {{date date 'M j, Y'}}</h2>
                <ol>
            {{/showDay}}
            <li>
                <a href="{{_links.self.href}}" rel="cont:commit">{{message}}</a>
                <span>{{> author}} wrote {{> date}}</span>
            </li>
        {{/each}}
        </ol>
    {{else}}
        <p>Nothing has been committed yet.</p>
    {{/if}}
</div>