<div>
    <h1>
        <a href="{{_links.cont:user.href}}">{{username}}</a> /
        <a href="{{_links.cont:repo.href}}">{{repo}}</a> /
        {{branch}}
    </h1>

    <h2 class="commit-metadata">{{message}}</h2>
    <div class="commit-metadata">
        <a href="{{_links.cont:user.href}}">{{username}}</a> wrote {{since date}}
    </div>
    {{#if diff}}
        <ul>
            {{#each diff}}
                <li>
                    <h3><a href="">{{@key}}</a></h3>
                    <table>
                        {{#each this}}
                            {{#if this.add}}
                                <tr class="add">
                                    <td>{{this.line}}</td>
                                    <td></td>
                                    <td>{{this.text}}</td>
                                </tr>
                            {{else}}
                                {{#if this.minus}}
                                    <tr class="remove">
                                        <td></td>
                                        <td>{{this.line}}</td>
                                        <td>{{this.text}}</td>
                                    </tr>
                                {{else}}
                                    <tr>
                                        <td>{{this.line}}</td>
                                        <td>{{this.line}}</td>
                                        <td>{{this.text}}</td>
                                    </tr>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </table>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>This commit made no changes.</p>
    {{/if}}
</div>