<div>
    <h1>
        <a href="{{_links.cont:user.href}}">{{username}}</a> /
        <a href="{{_links.cont:repo.href}}">{{repo}}</a> /
        <a href="{{_links.cont:branch.href}}">{{branch}}</a> /
        revision
    </h1>

    <h2 class="commit-metadata">{{message}}</h2>
    <div class="commit-metadata">
        {{#if _links.cont:author.href}}
            <a href="{{_links.cont:author.href}}" title="{{email}}">{{author}}</a>
        {{else}}
            <span title="{{email}}">{{author}}</span>
        {{/if}}
        wrote <time datetime="{{isodate date}}" title="{{date date}}">{{since date}}</time>
    </div>
    {{#if diffs}}
        <ul>
            {{#each diffs}}
                <li>
                    <h3><a href="{{@root._links.cont:documents.href}}/{{@key}}">{{@key}}</a></h3>
                    <table>
                        {{#each this}}
                            {{#if this.add}}
                                <tr class="add">
                                    <td>{{this.line}}</td>
                                    <td></td>
                                    <td>+</td>
                                    <td>{{this.text}}</td>
                                </tr>
                            {{else}}
                                {{#if this.minus}}
                                    <tr class="remove">
                                        <td></td>
                                        <td>{{this.line}}</td>
                                        <td>-</td>
                                        <td>{{this.text}}</td>
                                    </tr>
                                {{else}}
                                    <tr>
                                        <td>{{this.line}}</td>
                                        <td>{{this.line}}</td>
                                        <td></td>
                                        <td>{{this.text}}</td>
                                    </tr>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </table>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>This commit made no changes.</p>
    {{/if}}
</div>