<div>
    <h1>
        <a href="{{_links.cont:user.href}}">{{username}}</a> /
        <a href="{{_links.cont:repo.href}}">{{repo}}</a> /
        {{branch}}
    </h1>

    {{>branch-select}}

    {{#if _embedded.cont:commit}}
        {{#each _embedded.cont:commit}}
            {{#showDayEnd date}}
                </ol>
            {{/showDayEnd}}
            {{#showDay date}}
                <h2>Commits on {{date date 'M j, Y'}}</h2>
                <ol>
            {{/showDay}}
            <li>
                <a href="{{_links.self.href}}">{{message}}</a>
                <span>
                    {{#if _links.cont:author.href}}
                        <a href="{{_links.cont:author.href}}" title="{{email}}">{{author}}</a>
                    {{else}}
                        <span title="{{email}}">{{author}}</span>
                    {{/if}}
                    wrote <time datetime="{{isodate date}}" title="{{date date}}">{{since date}}</time>
                </span>
            </li>
        {{/each}}
        </ol>
    {{else}}
        <p>Nothing has been committed yet.</p>
    {{/if}}
</div>