<div>
    <h1>
        <a href="{{_links.cont:user.href}}" rel="cont:user">{{username}}</a> /
        <a href="{{_links.cont:repo.href}}" rel="cont:repo">{{repo}}</a> /
        <a href="{{_links.cont:branch.href}}" rel="cont:branch">{{branch}}</a> /
        revision
    </h1>

    {{>commit-metadata}}

    {{#if diffs}}
        <div class="button-bar actions">
            <form action="{{_links.cont:undo.href}}" method="post" rel="cont:undo">
                <button title="{{_links.cont:undo.title}}" class="danger"><span class="icon-undo"></span> Undo</button>
            </form>
            <form action="{{_links.cont:revert.href}}" method="post" rel="cont:revert">
                <button title="{{_links.cont:revert.title}}" class="danger"><span class="icon-revert"></span> Revert</button>
            </form>
        </div>
        <ul>
            {{#each diffs}}
                <li>
                    <h3><a href="{{@root._links.cont:documents.href}}/{{@key}}" rel="cont:documents">{{@key}}</a></h3>
                    {{>diff}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>This commit made no changes.</p>
    {{/if}}
</div>