<div>
    <h1>
        <a href="{{_links.cont:user.href}}" rel="cont:user">{{username}}</a> /
        <a href="{{_links.cont:repo.href}}" rel="cont:repo">{{repo}}</a> /
        <a href="{{_links.cont:branch.href}}" rel="cont:branch">{{branch}}</a>
    </h1>

    {{#if var.description}}
        {{{markdown var.description}}}
    {{/if}}

    <div class="path">
        {{>branch-select}}
        <a href="{{_links.cont:documents.href}}" rel="cont:documents">{{repo}}</a> /
        {{#if var.breadcrumb}}
            {{#each var.breadcrumb}}
                <a href="{{@key}}">{{this}}</a> /
            {{/each}}
        {{/if}}
        {{#if _links.create-form}}
            <a href="{{_links.create-form.href}}" rel="create-form" title="Create a new document">+</a>
        {{/if}}
    </div>

    {{#each _embedded.cont:commit}}
        {{>commit-metadata}}
    {{/each}}

    {{#if _embedded.cont:document}}
        <table>
            {{#each _embedded.cont:document}}
                <tr>
                    {{#if dir}}
                        <td>
                            <span class="icon-folder"></span>
                            <a href="{{_links.self.href}}" rel="cont:document">{{filename}}</a>
                        </td>
                        <td></td>
                        <td></td>
                    {{else}}
                        <td>
                            <span class="icon-page"></span>
                            <a href="{{_links.self.href}}" rel="cont:document">{{filename}}</a>
                        </td>
                        <td>
                            <a href="{{_links.cont:commit.href}}" rel="cont:commit">{{truncate _embedded.cont:commit.0.message 80}}</a>
                        </td>
                        <td>
                            {{#if _links.author.href}}
                                <a href="{{_links.author.href}}" rel="author">{{author}}</a>
                            {{else}}
                                {{author}}
                            {{/if}}
                            wrote
                            <a href="{{_links.cont:commit.href}}" rel="cont:commit">
                                <time datetime="{{isodate date}}" title="{{date date}}">{{since date}}</time>
                            </a>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        </table>
    {{else}}
        <p>There are no documents yet.</p>
    {{/if}}

    {{#contains _embedded.cont:document "filename" "README.md"}}
        {{{markdown this.content}}}
    {{/contains}}
</div>