<div>
    {{>repo-header}}

    <div class="button-bar">
        {{>branch-select}}
        <div class="path">
            <a href="{{_links.cont:documents.href}}" rel="cont:documents">{{repo}}</a> /
            {{#if var.breadcrumb}}
                {{#each var.breadcrumb}}
                    <a href="{{@key}}">{{this}}</a> /
                {{/each}}
            {{/if}}
            {{#if _links.create-form}}
                <a href="{{_links.create-form.href}}" rel="create-form" title="Create a new document">+</a>
            {{/if}}
        </div>
        {{>repo-actions}}
    </div>

    {{#each _embedded.cont:commit}}
        {{>commit-metadata}}
    {{/each}}

    {{#if _embedded.cont:document}}
        <table>
            {{#if _links.up}}
                <tr>
                    <td></td>
                    <td><a href="{{_links.up.href}}" rel="up" title="Go to parent folder">..</a></td>
                    <td></td>
                    <td></td>
                </tr>
            {{/if}}
            {{#each _embedded.cont:document}}
                <tr>
                    {{#if dir}}
                        <td><span class="icon-folder"></span></td>
                        <td><a href="{{_links.self.href}}" rel="cont:document">{{filename}}</a></td>
                        <td></td>
                        <td></td>
                    {{else}}
                        <td><span class="icon-page"></span></td>
                        <td><a href="{{_links.self.href}}" rel="cont:document">{{filename}}</a></td>
                        <td>
                            <a href="{{_links.cont:commit.href}}" rel="cont:commit">{{truncate _embedded.cont:commit.0.message 80}}</a>
                        </td>
                        <td>
                            {{> author}} wrote <a href="{{_links.cont:commit.href}}" rel="cont:commit">{{> date}}</a>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        </table>
    {{else}}
        <p>There are no documents yet.</p>
    {{/if}}

    {{#contains _embedded.cont:document "filename" "README.md"}}
        {{{markdown this.content}}}
    {{/contains}}
</div>