<header>
    <div>
        <h1>
            <a href="{{_links.cont:user.href}}">{{username}}</a> /
            <a href="{{_links.cont:repo.href}}">{{repo}}</a> /
            <a href="{{_links.cont:branch.href}}">{{branch}}</a> /
            <a href="{{_links.cont:document.href}}">{{path}}</a>
        </h1>
        {{#if _embedded.cont:commit}}
            <div class="commit-metadata">
                <a href="{{_embedded.cont:commit.0._links.cont:user.href}}">{{_embedded.cont:commit.0.author}}</a> wrote {{since _embedded.cont:commit.0.date}} - <a href="{{_embedded.cont:commit.0._links.self.href}}">{{_embedded.cont:commit.0.message}}</a>
            </div>
        {{/if}}
    </div>
</header>
<form action="{{_links.self.href}}" method="post" id="commit-form">
    {{#unless filename}}<input id="filename" type="text" name="filename" placeholder="filename">{{/unless}}
    <textarea name="content" id="edit">{{content}}</textarea>
    <div id="preview">{{markdown content}}</div>
    <div id="commit">
        <h1>Commit</h1>
        <p>Some words about how to save your changes.</p>
        <textarea name="message" placeholder="Update to {{path}}"></textarea>
        <button type="submit">Commit changes</button>
        <h2>Metadata</h2>
        {{#each metadata}}
            <label>
                <input type="text" name="metadata[{{@key}}][name]" value="{{capitalise @key}}" class="metadata-name">
                <input type="text" name="metadata[{{@key}}][value]" value="{{this}}" class="metadata-value">
            </label>
        {{/each}}
        <label>
            <input type="text" name="metadata[_new][name]" value="" class="metadata-name" placeholder="New metadata">
            <input type="text" name="metadata[_new][value]" value="" class="metadata-value">
        </label>
    </div>
</form>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/edit.js"></script>