<div>
    <h1>
        <a href="{{_links.cont:user.href}}">{{username}}</a> /
        <a href="{{_links.cont:repo.href}}">{{repo}}</a> /
        <a href="{{_links.cont:branch.href}}">{{branch}}</a> /
        {{path}}
    </h1>

    {{#if _embedded.cont:commit}}
        {{#each _embedded.cont:commit}}
            {{#contains diffs @root.path}}
                {{#showDay date}}
                    <h2>Commits on {{date date 'M j, Y'}}</h2>
                {{/showDay}}

                <h3 class="commit-metadata">{{message}}</h3>
                <div class="commit-metadata">
                    {{#if _links.cont:author.href}}
                        <a href="{{_links.cont:author.href}}" title="{{email}}">{{author}}</a>
                    {{else}}
                        <span title="{{email}}">{{author}}</span>
                    {{/if}}
                    wrote <a href="{{_links.self.href}}">
                        <time datetime="{{isodate date}}" title="{{date date}}">{{since date}}</time>
                    </a>
                </div>

                {{#each diffs}}
                    {{#equal @key @root.path}}
                        {{>diff this}}
                    {{/equal}}
                {{/each}}
            {{/contains}}
        {{/each}}
        </table>
    {{else}}
        <p>Nothing has been committed yet.</p>
    {{/if}}
</div>