<div>
    <h1>
        <a href="{{_links.cont:user.href}}" rel="cont:user">{{username}}</a> /
        <a href="{{_links.cont:repo.href}}" rel="cont:repo">{{repo}}</a> /
        <a href="{{_links.cont:branch.href}}" rel="cont:branch">{{branch}}</a> /
        {{path}}
    </h1>

    {{#if _embedded.cont:commit}}
        {{#each _embedded.cont:commit}}
            {{#contains diffs @root.path}}
                {{#showDay date}}
                    <h2>Commits on {{date date 'M j, Y'}}</h2>
                {{/showDay}}

                <h3 class="commit-metadata">{{message}}</h3>
                <div class="commit-metadata">
                    {{> author}} wrote <a href="{{_links.self.href}}" rel="cont:commit">{{> date}}</a>
                </div>

                {{#each diffs}}
                    {{#equal @key @root.path}}
                        {{>diff this}}
                    {{/equal}}
                {{/each}}
            {{/contains}}
        {{/each}}
        </table>
    {{else}}
        <p>Nothing has been committed yet.</p>
    {{/if}}
</div>