<div>
    <h1 class="cthulhu">Contentacle</h1>
    <p>Content management without the pain.</p>
    <p>A beautiful interface for content authors, the power of Git for developers.</p>

    <div class="button-bar">
        <a href="{{_links.cont:join.href}}" rel="cont:join" class="button okay">Sign up</a>
        <a href="{{_links.cont:login.href}}" rel="cont:login" class="button">Log in</a>
    </div>
</div>

<div class="promo-box">
    <h2>Why you'll love Contentacle.</h2>
    <ul>
        <li>Super sexy content creation <strong>in browser</strong> with Markdown.</li>
        <li>Content is living and breathing, back it up with <strong>the power of Git</strong>.</li>
        <li><strong>Markdown + Git</strong> = your content the way you need it.</li>
    </ul>
</div>