<div>
    <h1 class="cthulhu">Contentacle</h1>
    <p>Content management without the pain.</p>
    <p>A beautiful interface for content authors, the power of Git for developers.</p>

    <a href="{{_links.cont:join.href}}" rel="cont:join" class="button">Sign up</a>

    <h2>Why you'll love Contentacle.</h2>
    <ul>
        <li>Super sexy content creation in browser with Markdown.</li>
        <li>Content is living and breathing, back it up with the power of Git.</li>
        <li>Markdown + Git = your content the way you need it.</li>
    </ul>
</div>