<!DOCTYPE html>
<html lang="en">
<head prefix="cont: /rels/">
    <title>{{default title "Contentacle"}}</title>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300|Satisfy" rel="stylesheet" type="text/css">
    <link href="/style.css" rel="stylesheet" type="text/css">
    {{#each _links}}
        {{#if href}}
            <link href="{{href}}" rel="{{@key}}">
        {{/if}}
    {{/each}}
</head>
<body>
    {{#if var.nav}}
        <nav id="large">
            {{#if repo}}
                <h2>{{repo}}</h2>
                <ul>
                    {{#if _links.cont:documents}}
                        <li><span class="icon-pages"></span><a href="{{_links.cont:documents.href}}">Documents</a></li>
                    {{/if}}
                    {{#if _links.cont:commits}}
                        <li><span class="icon-commits"></span><a href="{{_links.cont:commits.href}}">Revisions</a></li>
                    {{/if}}
                    <li><span class="icon-stage"></span><a href="/stage">Stage</a> <sup>3</sup></li>
                </ul>
            {{/if}}
            {{#if filename}}
                <h2>{{filename}}</h2>
                <ul>
                    {{#if _links.cont:document}}
                        <li><span class="icon-page"></span><a href="{{_links.cont:document.href}}">View</a></li>
                    {{/if}}
                    {{#if _links.cont:edit}}
                        <li><span class="icon-edit"></span><a href="{{_links.cont:edit.href}}">Edit</a></li>
                    {{/if}}
                    {{#if _links.cont:history}}
                        <li><span class="icon-history"></span><a href="{{_links.cont:history.href}}">History</a></li>
                    {{/if}}
                </ul>
            {{/if}}
            <h2>{{username}}</h2>
            <ul>
                <li><span class="icon-user"></span><a href="/users/{{username}}">Profile</a></li>
                <li><span class="icon-settings"></span><a href="/settings">Settings</a></li>
                <li><span class="icon-signout"></span><a href="/logout">Sign out</a></li>
            </ul>
        </nav>
    {{else}}
        <nav id="small">
            <span class="cthulhu"></span>
            <a href="/login">Login</a>
        </nav>
    {{/if}}
    <section class="{{section}}">
        {{#if var.nav}}
            <div id="nav-toggle"></div>
        {{/if}}
        {{{_main}}}
        {{#if var.footer}}
            <footer>
                <a href="/about.html">About</a> <span class="cthulhu"></span> <a href="">Totherthing</a>
            </footer>
        {{/if}}
    </section>
    {{#if var.nav}}
        <script type="text/javascript">
var menu = document.getElementsByTagName("nav")[0],
    body = document.getElementsByTagName("body")[0];
body.className = "js";
menu.onmouseover = document.getElementById("nav-toggle").onclick = function () {
    body.className = "js menu";
};
menu.onmouseout = function () {
    body.className = "js";
};
        </script>
    {{/if}}
</body>
</html>