<div>
    <h1>Repositories for "{{username}}"</h1>

    <form action="{{_links.self.href}}" method="get">
        <label class="inline">
            Repository:
            <input name="q" type="search" value="{{_get.q}}">
            <button type="submit">Search</button>
        </label>
    </form>

    {{#if _embedded.cont:repo}}
        <ul>
            {{#each _embedded.cont:repo}}
                <li><a href="{{_links.self.href}}" rel="cont:repo">{{name}}</a></li>
            {{/each}}
        </ul>
        {{#if nextOrPrev}}
            <nav>
                {{#if _links.prev}}
                    <a href="{{_links.prev.href}}" rel="prev">Previous</a>
                {{/if}}
                {{#if _links.next}}
                    <a href="{{_links.next.href}}" rel="next">Next</a>
                {{/if}}
            </nav>
        {{/if}}
    {{else}}
        <p>No repositories found</p>
    {{/if}}
</div>