<div>
    <h1>Search for Users</h1>

    <form action="/users" method="get">
        <label class="inline">
            Username:
            <input name="q" type="search" value="{{_get.q}}">
            <button type="submit">Search</button>
        </label>
    </form>

    {{#if _embedded.cont:user}}
        <ul>
            {{#each _embedded.cont:user}}
                <li><a href="{{_links.self.href}}" rel="cont:user">{{name}} ({{username}})</a></li>
            {{/each}}
        </ul>
        {{#if nextOrPrev}}
            <nav>
                {{#if _links.prev}}
                    <a href="{{_links.prev.href}}" rel="prev">Previous</a>
                {{/if}}
                {{#if _links.next}}
                    <a href="{{_links.next.href}}" rel="next">Next</a>
                {{/if}}
            </nav>
        {{/if}}
    {{else}}
        <p>No users found</p>
    {{/if}}
</div>