<div>
    <h1>{{name}}</h1>
    <h2>{{username}}</h2>

    {{#if _embedded.cont:repo}}
        <ul>
            {{#each _embedded.cont:repo}}
                <li><a href="{{_links.self.href}}" rel="cont:repo">{{name}} - {{default description "No description"}}</a></li>
            {{/each}}
        </ul>
        <div class="button-bar">
            <a href="{{_links.cont:repos.href}}" rel="cont:repos" class="button">View all repositories</a>
        </div>
    {{else}}
        <p>No repositories found</p>
    {{/if}}
</div>