{extends file="shell.html"}

{block name="head"}
    {$section="commit"}
    {$title=$repo->name}
    {$nav="full"}
    {$footer=true}
    <link rel="stylesheet" href="/assets/css/files.css">
    <link rel="stylesheet" href="/assets/css/commit.css">
{/block}

{block name="content"}
    <div>
        <h1>{$repo->name}</h1>

        <h2>{$commit->message}</h2>
        <div class="commit-metadata">
            <a href="/{$user->username}">{$user->name}</a> wrote {$commit->date|relative}
        </div>
        <ul>
            {foreach $changes as $filename => $lines}
                <li>
                    <h3><a href="/{$user->username}/{$repo->name}/blob/master/{$filename}">{$filename}</a></h3>
                    <table>
                        {foreach $lines as $number => $line}
                            <tr{if $line.type == '+'} class="add"{elseif $line.type == '-'} class="remove"{/if}>
                                <td>{if $line.type != '+'}{$number}{/if}</td>
                                <td>{if $line.type != '-'}{$number}{/if}</td>
                                <td>{$line.line}</td>
                            </tr>
                        {/foreach}
                    </table>
                </li>
            {/foreach}
        </ul>

    </div>
{/block}