{extends file="shell.html"}

{block name="head"}
    {$section="home"}
    {$title="Home"}
    {$nav="simple"}
    {$footer=true}
    <link rel="stylesheet" href="/assets/css/home.css">
{/block}

{block name="content"}
    <div>
        <h1 class="cthulhu">Contentacle</h1>
        <p>Content management without the pain.</p>
        <p>A beautiful interface for content authors, the power of Git for developers.</p>
        <p>Sign in with GitHub and give it a go now for <strong>free</strong>!</p>

        <a href="/signin" class="button">Sign in</a>
        
        <h2>Why you'll love Contentacle.</h2>
        <ul>
            <li>Super sexy content creation in browser with Markdown.</li>
            <li>Your content is not your website, back it up with the power of Git.</li>
            <li>Markdown + Git = your content the way you need it.</li>
        </ul>
    </div>
{/block}