<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Satisfy" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="/assets/css/base.css">
            <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
            {block name="head"}{/block}
            <title>{if $title}{$title} - {/if}Contentacle</title>
            {if $nav == 'full'}
                <script src="/assets/js/nav.js"></script>
            {/if}
    </head>
    <body>
        <div>
            {if $nav == 'simple'}
                <a href="/" id="nav-button"></a>
            {elseif $nav == 'full'}
                <span id="nav-button"></span>
                <nav>
                    {if $repo}
                        <h1>{$repo->name}</h1>
                        <ul>
                            <li><span class="icon-pages"></span><a href="/{$repo->username}/{$repo->name}">Pages</a></li>
                            <li><span class="icon-commits"></span><a href="/{$repo->username}/{$repo->name}/history">Revisions</a></li>
                            <li><span class="icon-stage"></span><a href="/{$repo->username}/{$repo->name}/stage">Stage</a> <sup>3</sup></li>
                        </ul>
                        {if $pageName}
                            <h2>{$pageName}</h2>
                            <ul>
                                <li><span class="icon-edit"></span><a href="/{$repo->username}/{$repo->name}/edit/{$branch}/{$pageName}">Edit</a></li>
                                <li><span class="icon-prop"></span><a href="/{$repo->username}/{$repo->name}/prop/{$branch}/{$pageName}">Properties</a></li>
                                <li><span class="icon-history"></span><a href="/{$repo->username}/{$repo->name}/history/{$branch}/{$pageName}">History</a></li>
                            </ul>
                        {/if}
                    {/if}
                    <h1>Author</h1>
                    <ul>
                        <li><span class="icon-user"></span><a href="/{$user->username}">Profile</a></li>
                        <li><span class="icon-settings"></span><a href="/settings">Settings</a></li>
                        <li><span class="icon-signout"></span><a href="/signout">Sign out</a></li>
                    </ul>
                </nav>
                <div id="nav-overlay"></div>
            {/if}
            <section class="{$section}">
                {block name="content"}{/block}
                {if $footer}
                    <footer>
                        <a href="/about">About</a> <span class="cthulhu"></span>
                    </footer>
                {/if}
            </section>
        </div>
    </body>
</html>