$font-body: "Roboto", sans-serif;

body {
    margin: 0;
    overflow-x: hidden;
    font-size: 18px;
    font-family: $font-body;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'contentacle';
    src:url('/fonts/icomoon.eot');
    src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf') format('truetype'),
        url('/fonts/icomoon.woff') format('woff'),
        url('/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'colours';
@import 'icons';
@import 'buttons';
@import 'select';

@import 'nav';
@import 'article';
@import 'commit';
@import 'commits';
@import 'diff';
@import 'edit';
@import 'files';
@import 'form';
@import 'home';
@import 'stage';
@import 'footer';

$width-small: 700px;
$width-smaller: 400px;

body,
a {
    color: $grey-colour-highlight;
    text-decoration: none;
}

a:hover {
    color: $grey-colour;
    text-decoration: underline;
}

section {
    background: #fff;
    background: #fff url(/img/cthulhu-bg.png) no-repeat 50% 0;
    overflow: hidden;
    outline: none;
}

section > div {
    margin: 100px auto;
    min-width: $width-smaller - 40px;
    max-width: 900px;
}

h1,
h2,
h3,
h4,
ul,
ol,
p,
blockquote,
pre,
form {
    margin: 1em 20px;
}

li {
    margin: 0.5em 0;
}

h1,
h2,
h3,
h4 {
    font-family: $font-body;
    font-weight: normal;
}

h2 {
    color: $yellow-colour;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }

h1.cthulhu:before {
    padding-right: 10px;
}

table {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 20px 20px 0;
    max-width: 860px;
    width: calc(100% - 40px);
}

caption {
    color: $yellow-colour;
    margin: 10px;
    font-size: 1.3em;
}

thead th {
    background: $blue-colour;
    border-bottom-color: $blue-colour-highlight;
    color: #fff;
}

th,
td {
    border-bottom: 1px solid $grey-colour-medium;
    background: $grey-colour-light;
    padding: 12px 8px 8px;
    font-size: 80%;
    color: #210;
}

td:first-child {
    border-left: 1px solid $grey-colour-medium;
}

@media (max-width: $width-smaller) {
    td {
        display: none;
    }

    td:first-child {
        display: block;
    }
}

@media (max-width: $width-small) {
    td:nth-child(2) {
        display: none;
    }
}

th {
    font-weight: normal;
    text-align: left;
    background: $yellow-colour;
    border-bottom-color: $yellow-colour-highlight;

    &:first-child {
        border-left: 1px solid $yellow-colour-highlight;
    }
}

tr:nth-child(even) td {
    background: $grey-colour-light-even;
}