body {
    margin: 0;
    overflow-x: hidden;
    font-size: 18px;
    font-family: "Roboto", sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'contentacle';
    src:url('/fonts/icomoon.eot');
    src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf') format('truetype'),
        url('/fonts/icomoon.woff') format('woff'),
        url('/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'colours';
@import 'icons';
@import 'buttons';
@import 'select';

@import 'nav';
@import 'article';
@import 'commit';
@import 'commits';
@import 'diff';
@import 'edit';
@import 'files';
@import 'home';
@import 'stage';
@import 'footer';

body,
a {
    color: $grey-colour-highlight;
    text-decoration: none;
}

a:hover {
    color: $grey-colour;
    text-decoration: underline;
}

input:focus,
textarea:focus {
    outline-color: $grey-colour;
}

section {
    background: #fff;
    background: #fff url(/img/cthulhu-bg.png) no-repeat 50% 0;
    overflow: hidden;
    outline: none;
}

section > div {
    margin: 100px auto;
    width: 700px;
}

h1,
h2,
h3,
h4,
ul,
ol,
p,
blockquote,
pre,
form {
    margin: 1em 20px;
}

li {
    margin: 0.5em 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

h2 {
    color: $yellow-colour;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }

h1.cthulhu:before {
    padding-right: 10px;
}

table {
    border-collapse: collapse;
    margin: 20px 20px 0;
    width: 660px;
}

caption {
    color: $yellow-colour;
    margin: 10px;
    font-size: 1.3em;
}

th,
td {
    border-bottom: 1px solid $grey-colour-medium;
    background: $grey-colour-light;
    padding: 12px 8px 8px;
    font-size: 80%;
    color: #210;
}

td:first-child {
    border-left: 1px solid $grey-colour-medium;
}

th {
    font-weight: normal;
    text-align: left;
    background: $yellow-colour;
    border-bottom-color: $yellow-colour-highlight;

    &:first-child {
        border-left: 1px solid $yellow-colour-highlight;
    }
}

tr:nth-child(even) td {
    background: $grey-colour-light-even;
}

label {
    display: block;
    margin: 1em 0 4px;
}

input,
textarea {
    display: block;
    margin: 4px 0 1em;
    width: 100%;
    border: 1px solid $grey-colour-light;
    padding: 4px;
    background: #fff;
    color: #210;
}

textarea {
    height: 6em;
}