body {
    margin: 0;
    overflow-x: hidden;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: 'contentacle';
    src:url('/fonts/icomoon.eot');
    src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf') format('truetype'),
        url('/fonts/icomoon.woff') format('woff'),
        url('/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'colours';
@import 'icons';
@import 'buttons';

@import 'nav';
@import 'article';
@import 'commit';
@import 'commits';
@import 'edit';
@import 'files';
@import 'home';
@import 'page';
@import 'prop';
@import 'stage';
@import 'footer';

body,
a {
    color: #111;
    text-decoration: none;
}

a:hover {
    color: #210;
    text-decoration: underline;
}

input:focus,
textarea:focus {
    outline-color: #210;
}

section {
    position: absolute;
    background: #fff;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    transition: margin-left 0.2s;
    background: #fff url(/img/cthulhu-bg.png) no-repeat 50% 0;
    outline: none;
    -webkit-box-shadow: -10px 0px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: -10px 0px 15px -5px rgba(0,0,0,0.5);
    box-shadow: -10px 0px 15px -5px rgba(0,0,0,0.5);
}

body.js section {
    margin-left: 1px;
}

body.menu nav + section {
    margin-left: 200px;
}

section > div {
    margin: 100px auto;
    width: 700px;
}

section h1,
section h2,
section h3,
section h4,
section ul,
section ol,
section p,
section blockquote,
section pre,
section form {
    margin: 1em 20px;
}

section h1,
section h2,
section h3,
section h4 {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

section h2 {
    color: #e25440;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }

h1.cthulhu:before {
    padding-right: 10px;
}

table {
    border-collapse: collapse;
    margin: 20px 20px 0;
    width: 660px;
}

td {
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding: 4px 8px;
    font-size: 80%;
    color: #210;
}

label {
    display: block;
    margin: 1em 0 4px;
}

input,
textarea {
    display: block;
    margin: 4px 0 1em;
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px;
    background: #fff;
    color: #210;
}

textarea {
    height: 6em;
}