.button-bar {
    display: block;
    margin: 1em 20px;

    &.actions {
        text-align: right;
    }

    form {
        display: inline-block;
        margin: 2px 4px;
    }
}

button,
a.button {
    display: inline-block;
    background: $grey-colour-medium;
    border: 1px solid $grey-colour-dark;
    border-radius: 4px;
    color: #210;
    padding: 8px 16px;
    margin: 0 0 1px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    font-family: Arial;
}

button:hover,
a.button:hover {
    background-color: $grey-colour-light;
    text-decoration: none;
}

button:before,
a.button:before {
    display: inline-block;
    padding-right: 4px;
}

button.cancel,
a.button.cancel {
    color: $grey-colour;
}

button.okay,
a.button.okay {
    background-color: $green-colour;
}

button.okay:hover,
a.button.okay:hover {
    background-color: $green-colour-highlight;
}