$dark-colour: #111;
$dark-colour-highlight: #211;

$green-colour: #9fbb58;
$green-colour-highlight: #8b9f58;

$red-colour: #e25440;
$red-colour-highlight: #ac564a;

$blue-colour: #e25440;
$blue-colour-highlight: #e25440;

$grey-colour: #211;
$grey-colour-highlight: #111;

$grey-colour-light: #eee;
$grey-colour-medium: #ddd;
$grey-colour-dark: #ccc;