$dark-colour: #23303C;
$dark-colour-highlight: #23303C;

$blue-colour: #245C52;
$blue-colour-highlight: #245C52;

$green-colour: #638449;
$green-colour-highlight: #638449;

$red-colour: #CA9D4D;
$red-colour-highlight: #CA9D4D;

$grey-colour: #211;
$grey-colour-highlight: #111;

$grey-colour-light: #eee;
$grey-colour-medium: #ddd;
$grey-colour-dark: #ccc;