$dark-colour: #23303c;
$dark-colour-highlight: #11171c;

$blue-colour: #245c52;
$blue-colour-highlight: #132f2a;

$green-colour: #638449;
$green-colour-highlight: #455a35;

$red-colour: #ca9d4d;
$red-colour-highlight: #9c7530;

$grey-colour: #210;
$grey-colour-highlight: #110;

$grey-colour-light: #eee;
$grey-colour-light-even: #ddd;
$grey-colour-medium: #ccc;
$grey-colour-dark: #999;
