table.diff {
    border-collapse: collapse;
    margin: 0 20px 20px;
    width: 660px;
    box-sizing: border-box;
}

.diff tr.add td {
    background-color: $green-background;
    border-color: $green-colour-highlight;

    &:nth-child(1) {
        border-left-color: $green-colour;
    }
}

.diff tr.add:nth-child(even) td {
    background-color: $green-background-even;
}

.diff tr.remove td {
    background-color: $red-background;
    border-color: $red-colour-highlight;

    &:nth-child(1) {
        border-left-color: $red-colour;
    }
}

.diff tr.remove:nth-child(even) td {
    background-color: $red-background-even;
}

.diff tr td {
    border-width: 1px;
    border-style: solid;
    border-color: $grey-colour-medium;
    padding: 8px 8px 4px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 70%;
    color: $dark-colour;
    
    &:nth-child(1) {
        border-left-width: 5px;
    }

    &:nth-child(1),
    &:nth-child(2) {
        width: 20px;
        text-align: right;
    }

    ins {
        background-color: $green-colour;
        text-decoration: none;
    }

    del {
        background-color: $red-colour;
        text-decoration: none;
    }
}
