.edit h1 input {
    display: inline;
    width: 400px;
    font-size: 100%;
}

#edit,
#preview {
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    margin: 0;
    border: none;
}

#edit {
    left: 0;
    font-size: 16px;
    overflow-y: scroll;
    padding: 20px;
}

#preview {
    right: 0;
    min-width: 0;
    overflow-y: scroll;
}

#edit:focus,
#preview:focus {
    outline: none;
}

#edit {
    display: block;
    background: transparent;
}

#preview h1,
#preview h2,
#preview h3,
#preview h4,
#preview ul,
#preview ol,
#preview p,
#preview blockquote,
#preview pre {
    margin: 20px;
}

#preview h1 {
    font-size: 200%;
}

#preview h2 {
    font-size: 160%;
}

#preview h3 {
    font-size: 130%;
}

#preview h4 {
    font-size: 110%;
}

#preview p {
    line-height: 1.2;
}

#preview blockquote {
    font-size: 120%;
    margin: 1em 0;
}

body.js #commit-toggle {
    position: absolute;
    display: block;
    top: 0;
    right: 20px;
    background: $yellow-colour;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    width: 20px;
    min-width: 0;
    height: 20px;
    padding: 4px;
}

body.commit section {
    margin-left: -398px;
    -webkit-box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.5);
}

#commit-form {
    margin: 0;
}

#commit {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    background: $yellow-colour;

    h2 {
        color: $grey-colour-highlight;
    }

    textarea,
    label {
        width: 360px;
        margin: 20px;
    }

    button {
        display: block;
        margin: 20px auto;
    }

    input.metadata-name {
        border: none;
        background: none;
        color: $grey-colour-highlight;
        font-size: 100%;
        font-weight: normal;
        font-family: "Roboto", sans-serif;
        margin-bottom: 0;
        padding: 0;
        outline: none;

        &::-webkit-input-placeholder {
            color: $grey-colour-highlight;
            font-style: italic;
        }

        &:-moz-placeholder {
           color: $grey-colour-highlight;
           font-style: italic;
        }

        &::-moz-placeholder {
           color: $grey-colour-highlight;
           font-style: italic;
        }

        &:-ms-input-placeholder {
           color: $grey-colour-highlight;
           font-style: italic;
        }
    }
}