.edit {
    overflow: hidden;
}

.edit > textarea,
.edit > div {
    position: absolute;
    top: 90px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding: 20px;
    border: none;
}

.edit > div {
    right: 0;
    font-size: 16px;
    overflow-y: scroll;
}

.edit > textarea:focus,
.edit > div:focus {
    outline: none;
}

.edit > textarea {
    display: block;
    height: 50%;
    background: transparent;
}

#preview h1,
#preview h2,
#preview h3,
#preview h4,
#preview ul,
#preview ol,
#preview p,
#preview blockquote,
#preview pre {
    margin: 20px;
}

#preview h1 {
    font-size: 200%;
}

#preview h2 {
    font-size: 160%;
}

#preview h3 {
    font-size: 130%;
}

#preview h4 {
    font-size: 110%;
}

#preview p {
    line-height: 1.2;
}

#preview blockquote {
    font-size: 120%;
    margin: 1em 0;
}
