.path {
    display: inline-block;
    font-size: 80%;
    margin: 0 20px;

    .select {
        margin-right: 20px;
    }
}

.directory table {
    margin: 0 20px;

    td:first-child {
        width: 15px;
        padding-right: 0;
    }

    td:nth-child(2) {
        white-space: nowrap;
        padding-left: 4px;
    }

    td:nth-child(4) {
        text-align: right;
    }

    a[rel="up"] {
        font-weight: bold;
    }
}
