.path {
    font-size: 80%;
    margin: 20px;

    .select {
        margin-right: 20px;
    }
}

.directory table {
    margin: 0 20px;

    td:first-child {
        white-space: nowrap;

    }
    
    span {
        padding: 0 4px;
    }

    td:nth-child(3) {
        text-align: right;
    }
}
