label {
    display: block;
    margin: 1em 0 4px;
}

input,
textarea,
select {
    display: block;
    margin: 4px 0 1em;
    border: 1px solid $grey-colour-light;
    padding: 4px;
    background: #fff;
    color: #210;
}

input,
textarea {
    width: 100%;
}

textarea {
    height: 6em;
}

input:focus,
textarea:focus {
    outline-color: $grey-colour;
}

label.inline {
    input, button {
        display: inline-block;
        width: auto;
    }
}

label.error {
    input {
        border-color: $red-colour;
        color: $red-colour;
    }

    p {
        margin: 1em 0;
        color: $red-colour;
        font-weight: bold;
    }

    a {
        color: $red-colour;
    }
}