.home p:nth-child(2) {
    font-size: 300%;
    font-family: "Satisfy", cursive;
    text-align: center;
}

.home ul {
    padding: 0;
}

.home li {
    margin: 1em;
}

.home a.button {
    display: block;
    width: 140px;
    margin: 1em auto;
    text-align: center;
}