.home p:nth-child(2) {
    font-size: 300%;
    font-family: "Satisfy", cursive;
    text-align: center;
}

.home p:nth-child(3) {
    text-align: center;
}

.home ul {
    padding: 0;
}

.home li {
    margin: 1em;
}

.home .button-bar {
    margin: 1em auto;
    width: 454px;

    a.button {
        width: 140px;
        text-align: center;
        padding: 8px 32px;
    }
}

.home .promo-box {
    width: 100%;
    max-width: none;
    background: $green-background;
    border-top: 2px solid $green-colour-highlight;
    border-bottom: 2px solid $green-colour-highlight;

    h2, ul {
        margin: 32px auto;
        width: 860px;
    }

    h2 {
        color: $green-colour;
    }
}