body.js section {
    position: absolute;
    width: 100%;
    min-height: 100%;
    -webkit-box-shadow: -10px 0px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: -10px 0px 15px -5px rgba(0,0,0,0.5);
    box-shadow: -10px 0px 15px -5px rgba(0,0,0,0.5);
    margin-left: 1px;
    transition: margin-left ease-in 0.2s;
}

body.menu section {
    margin-left: 200px;
}

nav#large {
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid $green-colour-highlight;
    width: 199px;
    height: 100%;
    background: $green-colour;
    margin: 0;
    color: #fff;
}

nav#small {
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    text-align: right;
    z-index: 1;

    a {
        color: $grey-colour-highlight;
    }
}

body.js #nav-toggle {
    position: absolute;
    display: block;
    top: 0;
    left: 20px;
    background: $green-colour;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    width: 20px;
    height: 20px;
    padding: 4px;
}

#nav-toggle {
    display: none;
    min-width: 0;
}

nav > h2 {
    display: block;
    margin: 20px;
    color: #fff;
    font-size: 100%;
    font-weight: normal;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    font-size: 80%;
}

nav li {
    margin: 10px 0;
}

nav form {
    margin: 0;
}

nav li span {
    display: inline-block;
    width: 30px;
}

nav a,
nav button {
    font-size: 90%;
    display: inline;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: left;
    text-transform: none;
    font-family: $font-body;

    &:hover {
        background: none;
        text-decoration: underline;
    }
}

nav#large a {
    color: #fff;
}

nav#large a:hover {
    color: #fff;
}

nav#small a,
nav#small span {
    font-size: 80%;
    margin: 1em 0;
}

nav sup {
    font-size: 10px;
    font-family: sans-serif;
    background: $yellow-colour;
    color: #fff;
    padding: 2px;
    border-radius: 8px;
    display: inline-block;
    min-width: 10px;
    text-align: center;
}