.page > div > h1 {
    font-size: 240%;
}

.page > div > h2 {
    font-size: 180%;
}

.page > div > h3 {
    font-size: 140%;
}

.page > div > h4 {
    font-size: 120%;
}

.page > div > ul,
.page > div > ol {
    padding-left: 20px;
}

.page > div > ul ul,
.page > div > ul ol,
.page > div > ol ul,
.page > div > ol ol {
    margin: 0;
}

.page > div > p {
    line-height: 1.5;
}

.page > div > blockquote {
    font-size: 200%;
    font-family: "Satisfy", cursive;
    text-align: center;
    margin: 1em 0;
}

@media (min-width: 800px) {
    .page > div > blockquote {
        margin: 1em -2em;
    }
}

.page > div > code {
    font-family: monospace;
}